body{ 

    background-color:  rgb(129, 155, 14); 
    color: white
}
th{
    border: 2px solid rgb(214, 56, 7);
    padding: 10px;
    text-align: middle;
    font-style: italic;
}
td{
    border: 2px solid rgb(12, 7, 214);
    padding: 10px;
    text-align: left;
    font-style: italic;
}